:root {
  --primary-brand: #4d5ae5;
  --hover-blue: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99; /*тонкий текст*/
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --customers-icon: #afb1b8;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: var(--text);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: inherit;
  padding: inherit;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.secret-name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.line {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link,
.logo,
.button,
.services,
.overlay-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.link {
  transition: color var(--main-transition);
}

.link:hover,
.link:focus {
  color: var(--hover-blue);
}
.link-fixed {
  color: var(--hover-blue);
}

.link-fixed::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--primary-brand);
  border-radius: 2px;
}

.list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* ------- NAVIGATION ------ */
.navigation {
  display: flex;
  align-items: center;
}
.nav-link {
  position: relative;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-contacts {
  display: inline-block;
}

.nav-contacts:not(:last-child) {
  margin-right: 40px;
}

.list-contacts {
  margin-left: auto;
}

.nav-link {
  font-weight: 400;
}

.nav-logo,
.footer-logo {
  color: var(--dark);

  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
.nav-logo {
  margin-right: 77px;
}

.web {
  color: var(--primary-brand);
}

/* --------- HERO ----- */

.hero {
  padding-top: 192px;
  padding-bottom: 192px;
  margin: auto;
  max-width: 1440px;
  height: 600px;

  background-color: var(--dark);
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
}

.hero-title {
  margin: 0 auto;

  color: var(--white);
  font-size: 56px;
  text-align: center;
  line-height: 1.1;
  min-width: 492px;
}

.button {
  position: relative;

  display: inline-block;
  padding: 16px 32px;
  margin-top: 48px;
  width: 170px;
  border-radius: 4px;
  border: 1px solid transparent;

  background-color: var(--primary-brand);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--main-transition);
}

.button:hover,
.button:focus {
  background-color: var(--hover-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* --------- STREIGHTS ----- */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list.main-list {
  display: flex;
  padding-left: 0;
}
.list-strengths {
  width: 265px;
}
.list-strengths:not(:last-child) {
  margin-right: 24px;
}

.main-title {
  margin: 0;
  margin-bottom: 72px;

  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.title {
  margin: 0 auto;
  margin-bottom: 8px;

  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
}

.text {
  margin: 0 auto;

  color: inherit;
  font-weight: 400;
  line-height: 1.5;
}

/* STRENGTHS-ICON */

.strengths-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  margin-bottom: 8px;

  background-color: var(--light);
  border-radius: 4px;
}
/* --------- WORKS ----- */
.works {
  padding-bottom: 120px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-img {
  width: calc((100% - 51px) / 3);
}
.works-img:not(:last-child) {
  margin-right: 24px;
}
/* --------- TEAM ----- */
.light-bg {
  background-color: var(--light);
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--white);
  border-radius: 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-right: 24px;
}
.team-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px 36px 16px;

  text-align: center;
}
.team-title {
  margin: 0;
  margin-bottom: 8px;

  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
}

.team-text {
  margin: 0;
  margin-bottom: 12px;

  color: inherit;
  font-weight: 400;
  line-height: 1.5;
}

.team-icon-list {
  display: flex;
  gap: 24px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand);
  border-radius: 50%;
  padding: 12px;

  transition: background-color var(--main-transition);
}
.team-link:hover,
.team-link:focus {
  background-color: var(--hover-blue);
}
.team-icon-svg {
  fill: #ffffff;
}

/* --------- CUSTOMERS----- */
.customers-list {
  display: flex;
}
.customers-item:not(:last-child) {
  margin-right: 24px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  fill: var(--subtle-text);

  transition: border var(--main-transition), fill var(--main-transition);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--primary-brand);
  fill: var(--primary-brand);
}

/* --------- FOOTER ----- */

.dark-bg {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.footer-info {
  margin: 0;
}

.footer-text {
  margin: 0;
  width: 264px;

  line-height: 1.5;
}

.footer-text,
.studio,
.footer-title {
  color: var(--white);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  border-radius: 50%;
  padding: 8px;

  transition: background-color var(--main-transition);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--success);
}
.footer-networks {
  margin-left: auto;
}
.footer-form {
  display: flex;
  align-items: flex-end;
}
.footer-mail {
  margin-left: auto;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.footer-input {
  padding: 8px 16px;
  min-width: 264px;

  background-color: var(--dark);
  color: var(--accent);
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
  outline: none;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border var(--main-transition);
}
.footer-input:focus {
  border: 1px solid var(--accent);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 8px 24px;
  font-weight: 700;
  line-height: 1.5;
}

.footer-btn-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* ---------  PORTFOLIO ----- */
.filtr {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons {
  padding: 12px 24px;
  border-radius: 4px;
  border: none;

  background-color: var(--light);
  border: 1px solid var(--accent);
  color: var(--primary-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.004em;
  cursor: pointer;

  transition: background-color var(--main-transition),
    color var(--main-transition), border var(--main-transition);
}
.buttons:hover,
.buttons:focus {
  background-color: var(--primary-brand);
  border: 1px solid var(--primary-brand);
  color: var(--white);
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.filtr-btn {
  border-radius: 4px;

  transition: box-shadow var(--main-transition);
}
.filtr-btn:hover,
.filtr-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtr-card {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}
.filtr-list {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
  border: 0.5px solid var(--light);

  transition: box-shadow var(--main-transition);
}
.filtr-list:hover,
.filtr-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.filtr-list:nth-child(3n) {
  margin-right: 0;
}
.filtr-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.filtr-item {
  overflow: hidden;
  position: relative;
}
.filtr-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  transform: translateY(100%);
  transition: transform var(--main-transition);
}
.services:hover .filtr-overlay,
.services:focus .filtr-overlay {
  transform: translateY(0);
}
.overlay-text {
  padding: 40px 32px 164px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light);
}

.filtr-text {
  padding: 32px 16px;
}

/* ---------  MODAL ----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity var(--main-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-transition);

  min-width: 408px;
  min-height: 579px;
  padding: 24px;

  background-color: #fcfcfc;
  border-radius: 4px;
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-bottom: 24px;

  width: 24px;
  height: 24px;

  background: var(--accent);
  border: 1px solid transparent;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  fill: black;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--main-transition),
    fill var(--main-transition);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--primary-brand);
  fill: var(--white);
  border: 1px solid transparent;
}

.modal-text {
  margin: 0;
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-label {
  margin-bottom: 4px;

  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--subtle-text);
}
.modal-input {
  padding: 11px 16px 11px 34px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--main-transition);
}
.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 25px;
  fill: var(--dark);
  transform: translate(-50%, -50%);

  transition: fill var(--main-transition);
}
.modal-input:focus,
.modal-comment:focus {
  border: 1px solid var(--primary-brand);
}
.modal-input:focus + .modal-icon {
  fill: var(--primary-brand);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment {
  padding: 8px 16px;
  margin-bottom: 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--main-transition);
}
.checkbox {
  display: flex;
  margin-bottom: 24px;
}

.checkbox-icon {
  position: relative;
  display: inline-block;
  padding: 4px 3px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color var(--main-transition),
    border var(--main-transition), fill var(--main-transition);
}
.checkbox-input:checked + .checkbox-icon {
  background-color: var(--primary-brand);
  border: 1.25px solid var(--primary-brand);
  fill: var(--white);
}

.policy-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-text {
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.checkbox-privacy {
  color: var(--primary-brand);
  text-decoration: none;
}
.modal-btn {
  margin: 0 auto;
}
